<div class="container-fluid bg-light">
    <div class="container bg-light">
        <div class="row mt-4" style="height: 500px;">
            <div class="col"></div>
            <div class="col-md-6 bg-white shadow">
                <div class="card bg-warning mt-4">
                    <h4 class="text-white ps-3 py2 pb-2">To do list</h4>
                </div>
                <div class="shadow">
                    <div class="input-group p-4">
                        <input type="text" class="form-control" placeholder="Enter task " name="task" [(ngModel)]="addTaskValue">
                        <button class="btn btn-outline-success" type="button" (click)="addTask()">+</button>
                    </div>   
                </div>
                
                <h4 class="text-primary mt-4">Task: </h4>

                <div style="overflow-y: auto; height: 350px;">
                    <div class="m-3" *ngFor="let task of taskArr">
                        <div class="input-group row ps-3" id="tasks">
                            <div class="card col-md-10 border-0">{{task.task_name}}</div>
                            <button class="btn btn-outline-primary col" type="button" data-bs-target="#exampleModal" data-bs-toggle="modal" (click)="call(task)">E</button>
                            <button class="btn btn-outline-danger col" type="button" (click)="deleteTask(task)">X</button>
                        </div>
                    </div>
                </div>

              <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit task</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        <input type="text" class="form-control" placeholder="Enter task" name="task" [(ngModel)]="editTaskValue">
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" (click)="editTask()" data-bs-dismiss="modal">Save changes</button>
                        </div>
                    </div>
                    </div>
                </div>

            </div>
            <div class="col"></div>
        </div>
    </div>
</div>